
.required>label:after,
fieldset.required>legend:after,
th.required:after {
	content: " *";
	color:red ;
}

.ui-datepicker-trigger { display:none ; }

input.date {
	min-width:100px !important ;
}

input.time {
	min-width:70px !important ;
}

input.float {
	min-width:70px !important ;
	text-align:right ;
}

.has-error .form-control {
	background:#ffeceb ;
}

.has-error .chosen-single {
	background:#ffeceb ;
	border-color:#a94442 ;
}