
.required>label:after,
fieldset.required>legend:after,
th.required:after,
label[for="rgpd"]:after {
	content: " *";
	color:red ;
}

.ui-datepicker-trigger { display:none ; }

input.date {
	min-width:100px !important ;
}

input.time {
	min-width:70px !important ;
}

input.float {
	min-width:70px !important ;
	text-align:right ;
}
.form-group .helper {
	display:none ;
}

.has-error .form-control {
	background:#ffeceb ;
}
.form-group.has-error .helper {
	display:block ;
}

tfoot tr.has-error > td,
div.rgpd>div.has-error {
	background:#ffeceb ;
	color:#a94442 ;
	font-weight:bold ;
}

.has-error .chosen-single,
.has-error input[type="file"] {
	background:#ffeceb ;
	border-color:#a94442 ;
}

input[data-interdit], label[data-interdit] {
	opacity:.5 ;
}
